{
  "singleQuote": true,
  "semi": false,
  "trailingComma": "es5",
  "importOrder": [
    "^(^react$|@react|react)",
    "<THIRD_PARTY_MODULES>",
    "^@/(.*)$",
    "^[./]"
  ],
  "importOrderGroupNamespaceSpecifiers": true,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
